.information {
    margin-top: 9.6rem;
    position: relative;
    &::before {
        content: "";
        width: 36.5rem;
        height: 88rem;
        background-image: url(../assets/images/info-bg-1.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: -24rem;
        left: 0;
    }
    &::after {
        content: "";
        width: 52.4rem;
        height: 84.8rem;
        background-image: url(../assets/images/info-bg-2.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        right: 0;
        bottom: -45rem;
    }
    &__inner {
        text-align: center;
        position: relative;
        z-index: 1;
        &::before {
            content: "";
            width: 14.6rem;
            height: 0.8rem;
            background-image: url(../assets/images/info-waves.svg);
            background-repeat: no-repeat;
            background-size: 14.6rem 0.8rem;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__title {
        @include titles;
        padding-top: 8.5rem;
        line-height: 5.6rem;
        font-size: 4rem;
        color: $main-color;
    }
    &__title_bold {
        @include subtitles;
    }
    &__icon {
        width: 6.2rem;
        height: 4rem;
        margin: 4.2rem auto;
        background-image: url(../assets/images/icons/info-icon.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__wrapper {
        max-width: 64rem;
        text-align: center;
        margin: 0 auto 3.8rem;
    }
    &__text {
        line-height: 3.2rem;
        font: {
            family: "SangBleu Kingdom Regular";
            weight: 400;
            size: 1.8rem;
        }
        color: $main-color;
    }
    &__button {
        @include head__text;
        @include button;
    }
}